<?xml version="1.0"?>
<launch>
  <arg name="frequency" default="10"/>

  <node pkg="unitree_diagnostics" type="diagnostics_node" name="unitree_diagnostics_node">
    <param name="frequency" value="$(arg frequency)" type="double"/>
    <remap from="fix" to="fix" />
    <remap from="nmea/gpgga" to="nmea/gpgga" />
    <remap from="high_state" to="high_state" />
    <remap from="cmd_vel" to="cmd_vel" />
    <remap from="diagnostics" to="unitree/diagnostics" />
  </node>
</launch>

